{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap %}
{% load web_extras %}
{% block content %}

   <div class="container title">
       <div class = "row">
           <h1>Название сайта</h1>
       </div>
   </div>
    {% if not user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="well col-xs-6 col-md-4 col-lg-4 col-sm-6 col-xs-offset-3 col-md-offset-3 col-lg-offset-4 col-sm-offset-4 ">
                <p>Авторизация на сайте</p>
                <form method="post" action="/auth/login/">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <button class="btn btn-block btn-success">Авторизоваться</button>
                </form>

            </div>
        </div>
    </div>
    {% else %}
        <div class="container" ng-controller = "PhoneListCtrl">
            <div class="row">
            {% for type in payment_types %}
                      <div class="col-xs-{{len}}">
                        <a href="#" class="thumbnail">
                            <img src="{{type.icon.url}}" width="100" height="100" alt="...">
                            <div class="caption visible-md visible-lg"><h4>{{type.name}}</h4></div>
                        </a>
                    </div>
            {% endfor %}
            </div>
            <input type="text" ng-model = 'name'>
            hello {$ name $}
            <div class = "row">
                <div class="well col-xs-12">

                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% table_head_tag "date" "Дата" %}
                        {% table_head_tag "month" "Месяц" %}
                        {% table_head_tag "payment" "Платеж" %}
                        {% table_head_tag "total" "Сумма" %}
                        {% table_head_tag "author" "Автор" %}
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat = "payment in payments | orderBy:sortField:reverse | filter:{payment:name}">
                        <td>{$ payment.date | date:'dd.MM.yyyy hh.mm.ss' $}</td>
                        <td>{$ payment.month | date:'dd.MM.yyyy' $}</td>
                        <td>{$ payment.payment $}</td>
                        <td>{$ payment.total $}</td>
                        <td>{$ payment.author $}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    {% endif %}


{% endblock %}